.payment_header{
    padding-bottom:18px;
    font-size: 12px;
    font-weight: bold;
}
.Payment_Choice, .payment_method_promo{
    padding: 27px 23px 2.5px 23px;
    margin-bottom: 4px;
   
    .payment_method_cash{
        
        .payment_method_cash_icon{
            margin-top: 2.7px;
            height: 18px;
            color: #2f9af1b0;
        }
    }
    .addman{
        align-content: center;
        display: flex;
        align-content: center;
        height: 22.4px;
        width: 22.4px;
        border-width: 3px !important;
        border-color: #2a80c7be !important;
    }
    .addman .fa-plus{
        height: 11.7px;
        font-size: 11.0px !important;
        margin-top: 2.13px;
    }
    .payment_method_title{
        margin-top: 2px;
        font-size: 13.8px;
        font-weight: 600;
    }
    .payment_method_check{
        flex: 2;
        .rounded-pill{
            width: 20.7px;
            height: 20.7px;
            display: flex;
            justify-content: center;
            align-content: center;
            overflow: hidden;
            border-color: #bbdffd !important;
            border-width: 2px !important;
            .fa-check{
                background: #91c9f6;
                display: flex;
                color: rgba(30, 66, 185, 0.479);
                justify-content: center;
                align-content: center;
                font-size: 9.9px;
                padding-top: 3.8px;
                font-weight: light;
            }
        }
       
    }
    .payment_method_uncheck{
        flex: 2;
        .rounded-pill{
            width: 20.7px;
            height: 20.7px;
            display: flex;
            justify-content: center;
            align-content: center;
            overflow: hidden;
            border-color: rgb(210, 212, 214) !important;
            background: rgba(222, 226, 230, 0.513) !important;
            border-width: 2px !important;
            .fa-check{
                display: none;
            }
        }
    }
}

.payment_method_promo{
    .promo_gifting{
        background: linear-gradient(to right, rgb(58, 143, 199) , rgba(33, 181, 250, 0.568)); 
        padding-top: 30px;
        padding-bottom: 30px;
        margin-left: 2px;
        margin-right: 2px;
        border-radius: 9px;
        .gifting_content{
            color: white;
            min-width: 150px;
            .gifting_header{
                font-size: 14.7px;
                font-weight: bold;
                width: fit-content !important;
            }
            .gifting_note{
                font-size: 13.3px;
                font-stretch: ultra-expanded;
                letter-spacing: 0.3px;
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-seri;;
                width: fit-content !important;
            }
        }
        .gifting_icon{
            justify-content: center;
            display: flex;
            align-content: center;
            .fa-gift{
                color: white;
                font-size: 40px;
                 height: fit-content;
            }
        }
    }
    .enter_referral{
        font-size: 12px;
        font-weight: bold;
    }
    .referral_gift{
        color: rgb(99, 184, 233);
    }
}