.thank_png{
    @include heart_center();
  
}
.thank_text{
    margin-top: 30px;
    font-size: 25px;
    color: rgb(46, 145, 238);
}
.thank_button{
    @include pointer();
    margin-top: 40px;

    div{
        background: rgb(0, 162, 255) !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    width: 100% !important;
    font-size: 13px !important;
    margin-top: 100px;
    @include large_button_oda();
}
}