.Nav_Bar{
   
    background:  rgb(2,54,77);
    color: rgba(219, 219, 219, 0.856);
    .nav_logo{
            filter: brightness(200%);
  
    }
    .nav_items{
        .cog{
            cursor: pointer;
            margin-left: 0.2%;
            margin-right: 0.2%;
            padding-left: 0.4%;
            padding-right: 0.4%; 
            .limk{
              color: inherit !important;
            }      
            div{
            filter: brightness(100%);
            }
            &:hover{
              color: rgb(255, 255, 255);
              filter: brightness(200%);                
                div{
                    
                }
            }
            &:active{
                
                div{
                    
                }
            }
        }
        .COG_ME{
            background: rgba(255, 255, 255, 0.253);
        }
        .nav_link{
            margin-bottom: 1px;
            width: 78px;
        }
        .nav_text{
            font-size: 13.6px;
        }
        .notify{
            margin-top:2.3px !important ;
        }
        .nav_fa{
            font-size: 20px;
            color: rgb(189,189,189) !important;
            div{
                margin-top: 40px !important;
            }
        }
    }
}