.home{
    background-image: url('./LP.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    height:430px;
    @media (max-width: 779px) {
        height: 300px;
        .Laya{
            height:430px;

        }
    }
    .Laya{
        background: linear-gradient(to bottom, rgba(25, 152, 184, 0.164), rgba(12, 75, 100, 0.89)); /*Standard*/
        opacity: 0.4;
        width: 100%;
        height:430px;
        position: absolute;
        
        @media (max-width: 779px) {
            height: 300px;
        }
    }
}