 .reos{
      color: rgb(255, 25, 25);
      margin-top: 19px !important;
    }
    .tine{
      width: fit-content !important;
      margin-top: -28px;
      margin-right: 4px;
    }
    .Sy_font{
      font-size: 15.5px;
    }
    .texs{
      color: rgb(63, 173, 236);
    }