.home-two {
  height: 90vh;
  /* margin-top: 70px; */
  background-color: #fdfdfd;
  /* background-image: url('../../assets/hero-image.png'); */
  color: #141c3a;

  display: flex;
  /* border: 1px solid rebeccapurple; */
  vertical-align: middle;
}

.home-two-section-one {
  width: 50%;
  background-image: url("../../assets/technicon-landing.png");
  color: #141c3a;
  background-repeat: no-repeat;
  /* display: flex; */
  background-size: contain;
  background-position: center;
  /* border: 1px solid red; */
}
.home-two-section-two {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid pink; */
}

.home-two-card {
  /* width: 50%; */
  /* border: 1px solid orchid; */
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 6px;
  /* align-items: center; */
  flex-direction: column;
  max-width: 65%;
  -webkit-box-shadow: 0 4px 19px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 19px 0 rgba(0, 0, 0, 0.1);
  height: 32rem;
  border-radius: 5px;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: #ab8ae6;
}

.head-title {
  font-size: 2rem;
  letter-spacing: 0.2px;
  line-height: 1.7;
  color: #fff;
}
.p-tag {
  font-size: 1rem;
  line-height: 1.3;
  color: #fff;
}
.home-three {
  height: 60vh;
  padding: 40px 0px;
  background-image: url("../../assets/to-learn.png");
  background-repeat: no-repeat;
  /* display: flex; */
  background-size: contain;
  background-position: center;
  /* background-color: rgb(20, 28, 58); */
  /* border: 1px solid orange; */
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: #fff;
  vertical-align: middle;
  flex-direction: column;
}

.home-three .span {
  font-size: 3rem;
  color: #ab8ae6;
  text-align: center;
}

.home-three .home-three-career {
  display: flex;
  justify-content: space-evenly;
}

.home-three .home-three-career div {
  border: 1px solid rebeccapurple;
  width: 33.3%;
}
.home-four {
  height: 60vh;
  padding: 40px 0px;
  background-image: linear-gradient(to left, #6400e4, rgb(91, 56, 141));
  border-top-left-radius: 6rem;
  border-top-right-radius: 6rem;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  vertical-align: middle;
  flex-direction: column;
}

.home-four .it-is-time {
  display: flex;
  color: #fff;
  /* text-align: center; */
  font-size: 50px;
}

.home-four p {
  color: #fff;
}

.homepage-footer {
  /* height: 15vh; */
  text-align: center;
  color: hsla(0, 0%, 100%, 0.6);
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: #1e0a3c;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  width: 100%;
}

@media (max-width: 768px) {
  .home-three .span {
    font-size: 2rem;
    text-align: center;
  }

  .home-four .it-is-time {
    display: flex;
    color: #fff;
    /* text-align: center; */
    font-size: 2rem;
  }

  .home-two-section-one {
    display: none;
  }
  .home-two-section-two {
    width: 100%;
    /* border: 1px solid orange; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid pink; */
  }

  .home-two-card {
    max-width: 95%;

    height: 27rem;
    border-radius: 5px;
  }
}
