.profile_pix{
    background: rgb(80, 167, 238) !important;
    margin-top: 7px !important;
    overflow: hidden;
    width: 74px;
    height: 74px;
    span.fa-user, .money-bill-alt {
        color: rgb(255, 255, 255);
        font-size: 73px; 
    }     
} 
.user_box_details{
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    .name{
        margin-top: 6px;
        font-weight:500;
    }
    .mark-2{
        margin-right: -8px;
    }
    .fa-map-marker-alt{
        font-size: 13px;
        text-shadow: 1px 1px 0px rgb(124, 120, 120);
        color: rgb(31, 148, 216);
    }
    .address_details {
        color: rgb(93, 90, 90);
            font-size: 12px;
            font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
    .street{
        color: rgb(80, 167, 238);
    }
    .edit_profile{
        border: 1.5px solid rgb(134, 198, 251);
        color: rgb(80, 167, 238);
        font-weight: 500;
        transition: cubic-bezier(0.075, 0.82, 0.165, 1) background 0.135s;
    }
    .edit_profile:hover{
        background: rgb(80, 167, 238);
        color: white;
        font-weight: 500;
    }
}
.switch_buttons{
    overflow: hidden !important;
    .dashboard{
        display: flex;
        .dashboard_icon {
            font-size: 20px;
            div{
                font-size: 16px;
                margin-top: -10px !important;
            }
        }
        .dashboard_button {
            font-weight: 600;
            flex: 2;
            .dashboard{
                font-size: 13px !important;
                margin-top: 2.2px;
            }
        }
    }
}
.switch_buttons:hover{
        @include hash_bg;
        @include pointer;
        .dashboard_icon {
        div{
            color:rgb(80, 167, 238);
        }
    }
    .dashboard_button {
        .dashboard{
            color:rgb(80, 167, 238);
        }
    }
}
.start_transaction{
    border: 2px solid rgb(255, 255, 255) ;

    padding-top: 13px !important;
    padding-bottom: 13px !important;
    background: rgb(26, 150, 199);
    display: flex;
    justify-content: center;
    align-items: center;
        .transact_plus{
            
            justify-content: center;
            align-items: center;
            .transact_plus_border{
                border: rgb(248, 248, 248)  1px solid !important;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 2.4px !important;
                padding: 2px !important;
        
            .fa-plus{
                color: rgb(26, 150, 199) ;
                padding: 2px;
                background: white;
                border-color: rgb(255, 255, 255)  !important;
                font-size: 7px;
                padding-right:2.352px ;
                
            }
        }
    }
    .hahaha{
        border-color:rgb(26, 150, 199)  !important;
        margin-top: auto !important;
        margin-bottom: auto !important;
        display: flex;
        justify-content: center;
        align-items: center;
        font-variant: small-caps;
        color: white;
        font-size: 14px;
        margin-top: 1.6px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    } 
}
.start_transaction:hover{
    cursor: pointer;
    border: 2px solid rgb(26, 150, 199) ;
    background: white;
    .hahaha{
        border-color: white !important;
        color:rgb(26, 150, 199)  !important ;
    }
    .transact_plus{
        .transact_plus_border{
            border-color: rgb(26, 150, 199) !important;
        }
        .fa-plus{
            color: white !important;
            background: rgb(26, 150, 199)  !important;
        }
        background: white;
    }
}
