@import './extendibles';
@import './scope';
@import './class';
body{
  color: rgb(110, 107, 107);
}
.C_style {
   @media screen and (max-width:768px){
        .Dash_1, .Dash_2, .Dash_3{
            padding-left: 2% !important;
            padding-right: 2% !important;
            min-height: 400px !important;
        }
   }
   @media screen and (max-width:991px){
        @include heart_center();
        .mobile-v{
          margin-left:  auto !important;
          margin-right:  auto !important;
            display: none
        }
    }
}