@import "./../../components/Dashboard/extendibles";

.pdf {
  padding-bottom: 33px !important;
}

@mixin modals {
  .modals {
    transition-duration: 0.2s;
    width: 100%;
    bottom: -100%;
    position: fixed;
    background-attachment: scroll;
    background: rgb(255, 255, 255);
    height: 230px;
    .vona {
      border-width: 5px !important;
      border-color: rgb(223, 224, 224) !important;
      .header {
        border-color: rgb(248, 249, 250) !important;

        font-weight: bold;
        padding: 20px 0 12px 12%;
      }
      .icond {
        border-color: #70b5e4 !important;

        display: flex;
        flex-direction: column;
        .row {
          .col-4 {
            @include heart_center();
          }
        }
      }
    }
  }
}

.cinta {
  color: inherit !important;
  margin-bottom: -14.4px !important;
  padding: 0 !important;
}
.side_nav {
  background: rgba(205, 224, 228, 0.623);
  @include heart_center();
  display: flex;

  .nav_logo {
    margin-left: 45px;
    flex: 2;
  }
  .nav_button {
    padding: 2px 10px 1px 10px;
    border: 2px solid #8dc0e0 !important;
    padding: 0 !important;
    cursor: pointer;
    font-size: 18px;
    margin-left: 9px;
    color: rgb(255, 255, 255);
    @include heart_center();
    .fa {
      border-radius: 4px;
      margin: 1px;
      padding: 4px 9px 4px 9px;
      background: #8dc0e0;
    }
    &:hover {
      transition-duration: 0.2s;
      .fa {
        background: rgb(112, 181, 228);
      }
    }
    &:active {
      background: rgba(112, 182, 228, 0.822);
    }
  }

  .nav_login {
    border: rgb(112, 181, 228) 2px solid !important;
    button {
      padding: 6px 11px 6px 11px !important;
      width: fit-content;
      font-size: 11.6px;
      font-weight: bold;
      padding: 8px 18px 8px 18px;
      background: rgb(112, 181, 228);
      border: rgb(207, 231, 255) 3px solid;
      color: white;
      &:hover {
        background: rgb(112, 181, 228);
      }
      &:active {
        background: rgba(112, 182, 228, 0.602);
      }
    }
  }
}
.slide_right {
  transition-duration: 0.3s;
  background: #edecec !important;
  overflow-y: scroll;
  .possas {
    position: absolute;
    top: 11px;
    right: 25px;
    @include pointer();
    color: rgba(200, 77, 77, 0.602);
    font-size: 15px !important;
    font-weight: light !important;
    span {
      &:hover {
        transition-duration: 0.4s;
        background-color: rgba(194, 64, 64, 0.602);
        color: white;
      }
      padding-top: 4px;
      padding-bottom: 4px;
      padding-right: 7px;
      padding-left: 7px;
    }
  }
  width: 100%;
  height: 100%;
  z-index: 4;
  background: rgba(255, 255, 255, 0);
  position: fixed;
  .contained {
    background: rgb(255, 255, 255);
    width: 100%;
    max-width: 100%;
    .user_n {
      @include pointer();
      padding-top: 4%;
      padding-left: 7% !important;
      @include heart_center();
      display: flex;
      justify-content: left;
      width: fit-content;

      .user_pix {
        overflow: hidden;
        height: 60px;
        width: 60px;
        margin-right: 18px;
      }
      .user_dl {
        .userName {
          font-size: 15px;
          font-weight: bold;
          color: rgb(75, 74, 74) !important;
        }
        .userLocation {
          color: rgba(18, 117, 156, 0.548);
          font-size: 13.3px;
          font-weight: bold;
          span {
            margin-right: 5px;
          }
        }
      }
    }
    .side_items {
      @include modals();
      display: flex;
      flex-direction: column;
      .nav_item:first-of-type {
        margin-top: 15px;
      }
      .nav_item {
        @include pointer();
        display: flex;
        width: 100%;
        padding: 18px 8px 18px 8%;
        border-left: 5px solid rgb(255, 255, 255) !important;
        .fa {
          color: white !important;
          text-shadow: 0.2px 0px 3px rgb(112, 112, 112) !important;
        }
        .icon1 {
          font-size: 20px;
          width: 22px;
          height: 17px;
          margin-right: 18px;
          margin-top: -1px;
        }

        .icon2 {
          font-size: 19px;
          width: 22px;
          height: 17px;
          margin-right: 19px;
          margin-left: 1px;
          margin-top: 2px;
        }

        .icon3 {
          font-size: 20px;
          width: 22px;
          height: 17px;
          margin-right: 18px;
          margin-left: 2px;
          margin-top: -0.2px;
        }

        .icon4 {
          font-size: 20px;
          width: 22px;
          height: 17px;
          margin-right: 17.4px;
          margin-left: 5px;
          margin-top: 1.3px;
        }

        .icon5 {
          font-size: 20px;
          width: 22px;
          height: 17px;
          margin-right: 18px;
          margin-left: 3px;
          margin-top: 1px;
        }
        .icon6 {
          font-size: 20.5px;
          width: 22px;
          height: 17px;
          margin-right: 19px;
          margin-left: 2px;
          margin-top: 1px;
        }
        .icon7 {
          font-size: 19.2px;
          width: 22px;
          height: 17px;
          margin-right: 19px;
          margin-left: 2px;
          margin-top: 0.4px;
        }

        .Nav {
          font-weight: bold;
        }
        &:hover {
          transition-duration: 0.3s;
          @include hash_bg();
          border-left: 5px solid #70b5e4 !important;
          span {
            transition-duration: 0.5s;
            color: rgb(85, 167, 221) !important;
            text-shadow: none !important;
          }
        }
        &:active {
          transition-duration: 0.3s;

          @include hash_bg();
          border-left: 5px solid #70b5e4 !important;
        }
        .sav {
          font-size: 15px;
        }
      }
      .logouti {
        padding-top: 30px;
        border-left: 5px solid #edecec !important;
        @include hash_bg();
        align-self: stretch !important;
        flex-basis: 2;
        flex-flow: row;
      }
    }
  }
}
.softeir {
  color: rgb(255, 255, 255) !important;
  padding-bottom: 3.2px;
  font-size: 16px;
  font-variant: small-caps;
  background: rgba(10, 91, 129, 0.89);
  &:active {
    background: rgba(20, 127, 177, 0.733);
  }
}
.soss {
  color: rgb(255, 255, 255) !important;
  padding: 2px 8px 0px 8px;
  margin-left: 11px;
  background: rgba(10, 91, 129, 0.781);
  cursor: pointer;
  &:active {
    background: rgba(20, 127, 177, 0.733);
  }
}
