@import "./components/scope";
@import "./layout/scope";
@import "./layout/extendible";
@import "./components/Transact_Process/index.scss";
@font-face {
  font-family: "MyWebFont";
  src: url(./assets/fonts/Metropolis.otf); /* IE9 Compat Modes */
}

@font-face {
  font-family: "rali";
  src: url(./assets/fonts/Raleway-Light.ttf); /* IE9 Compat Modes */
}

@font-face {
  font-family: "ralo";
  src: url(./assets/fonts/Raleway-SemiBold.ttf); /* IE9 Compat Modes */
}

* {
  font-family: "MyWebFont";

  margin: 0;
  padding: 0;
}
.ralo{
  font-family: ralo !important;
}
html {
  margin: 0;
  padding: 0;
}
body {
  background: rgba(91, 200, 250, 0.02);
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
.text_inherit {
  color: inherit !important;
}
