.footer{
background: hsl(198,95%,15%);
color: white;
}
@media (max-width: 834px){
    .no_go_show{
        display: none;
    }
    .social-icon{
        width: 100%;
        align-items: center;
        justify-content: center;
        .fab{
            background: rgb(14, 64, 87);
        }
    }
    .pae{
        margin-right: auto;
        margin-left: auto;
        
    }
    .footer_one{
        font-size: 14px;
    }
}