@mixin hash_bg {
    background: #EDECEC;
}

@mixin pointer{
    cursor: pointer;
}
@mixin fit{
    width: fit-content !important;
    min-width: fit-content !important;
    max-width: fit-content !important;
}
@mixin large_button {
  width: 100%;
  border: 3px #86c6fb solid;
  background: rgb(255, 255, 255);
  color: rgb(115, 162, 216);
  font-size: 11.6px;
  font-weight: bold;
  padding: 11px 15px 11px 15px;
  background: #0179ad;
  cursor: pointer;
  color: white;
  &:hover {
    box-shadow: 0 !important;
    border: rgb(207, 231, 255) 3px solid;
    background: #0179ad;
    color: rgb(255, 255, 255);
  }
  &:active {
    background: rgb(16, 121, 182) !important;
  }
   
}

@mixin heart_center {
    display:  flex;
    justify-content:  center;
    align-items: center;
}

@mixin small_button {
    width: fit-content;
    border: 3px #86C6FB solid;
    background: rgb(255, 255, 255);
    color: rgb(115, 162, 216) ;
    font-size: 11.6px;
    font-weight: bold;
    padding: 8px 18px 8px 18px;
    &:hover{
        @include pointer();
        border: rgb(207, 231, 255) 3px solid ;
        background: rgb(112, 181, 228);
        color: white ;
    };  
}

@mixin large_button_oda {
  width: 100%;
  border: 3px #86c6fb solid;
  background: rgb(255, 255, 255);
  color: rgb(115, 162, 216);
  font-size: 11.6px;
  font-weight: bold;
  padding: 11px 15px 11px 15px;
  background: #0179ad;
  cursor: pointer;
  color: white;
  &:hover {
    box-shadow: 0 !important;
    border: rgb(207, 231, 255) 3px solid;
    background: #0179ad;
    color: rgb(255, 255, 255);
  }
  &:active {
    background: rgb(16, 121, 182) !important;
  }
   
}