@mixin mobile-contrast {
   margin-top: 13px;
     width: 100%;
    max-width: 400px;
    margin-left: auto !important;
    margin-right: auto !important;
}

.PickupLocation{
 @include mobile-contrast();
    @import './Pickup_Location/PickupLocation';
};



.Thank_You{
 @include mobile-contrast();
align-items: center;
justify-content: center;
align-self: center;
justify-self: center;
display: flex;

    @import './Thank_You/ThankYou';
}

.ReachOut{
 @include mobile-contrast();

    @import './Reached_Out/ReachOut';
}
.OfficeLocation{

 @include mobile-contrast();

    @import './Office_Address/OfficeAddress';
}