

.PickupLocation{
  margin-top: 13px;
     width: 100%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    @import './Pickup_Location/PickupLocation';
};



.Thank_You{
    @import './Thank_You/ThankYou';
}

.ReachOut{
    @import './Reached_Out/ReachOut';
}
.OfficeLocation{
    @import './Office_Address/OfficeAddress';
}